<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ffjda.ffjudo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.ffjda.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.Inscription1Activity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_inscription1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.Inscription2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_inscription2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.LicencesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_licences"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.DetailLicenceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_detail_licence"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.RenouvellementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_renouvellement"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.Inscription3Activity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_inscription3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.CodePostalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_code_postal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.HistoriqueClubActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_historique_club"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.AjoutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_renouvellement_ajout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.RenouvellementAjout2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_renouvellement_ajout2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.CompteLicencieCreation1"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_compte_licencie_creation1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.VogoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_vogo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.PartenaireActivity"
            android:label="@string/title_activity_partenaire"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".views.AproposActivity"
            android:label="@string/title_activity_apropos"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="ffjda.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.ffjda.ffjudo.model" />
    </application>

</manifest>
